* {
  font-family: monospace, sans-serif;
}
body {
  font-family: monospace;
  padding: 10px;
  font-size: .9em;
}
#container {
  margin-top: 40px;
}
button {
  font-size: 20px;
  padding: 7px 10px;
}
#message {
  font-size: 1.1em;
  margin-top: 10px;
}
#problem {
  background-color: #f0f0f0;
  padding: 10px;
  max-width: 800px;
  position: absolute;
  top: 180px;
}
#problem h2 {
  margin: 0;
}
#problem li:first-child {
  margin-bottom: 20px;
}
a[home] {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #c00;
  font-family: Times;
  font-size: 16px;
}
